BikeStores/BikeStoresForms/Connected Services/BikeStoresWebService/BikeStoresWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllServiceProducts">
        <s:complexType />
      </s:element>
      <s:element name="GetAllServiceProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllServiceProductsResult" type="tns:ArrayOfServiceProduct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfServiceProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceProduct" nillable="true" type="tns:ServiceProduct" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceProduct">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModelYear" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="ListPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="BrandId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BrandName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByIdResult" type="tns:ServiceProduct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceProduct" type="tns:ServiceProduct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceProduct" type="tns:ServiceProduct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllServiceBrands">
        <s:complexType />
      </s:element>
      <s:element name="GetAllServiceBrandsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllServiceBrandsResult" type="tns:ArrayOfServiceBrand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfServiceBrand">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceBrand" nillable="true" type="tns:ServiceBrand" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceBrand">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BrandId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BrandName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetServiceBrandById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceBrandByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceBrandByIdResult" type="tns:ServiceBrand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllServiceCategories">
        <s:complexType />
      </s:element>
      <s:element name="GetAllServiceCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllServiceCategoriesResult" type="tns:ArrayOfServiceCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfServiceCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceCategory" nillable="true" type="tns:ServiceCategory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceCategory">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CategoryId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetServiceCategoryById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceCategoryByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceCategoryByIdResult" type="tns:ServiceCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllServiceProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllServiceProducts" />
  </wsdl:message>
  <wsdl:message name="GetAllServiceProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllServiceProductsResponse" />
  </wsdl:message>
  <wsdl:message name="GetByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="GetByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllServiceBrandsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllServiceBrands" />
  </wsdl:message>
  <wsdl:message name="GetAllServiceBrandsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllServiceBrandsResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceBrandByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceBrandById" />
  </wsdl:message>
  <wsdl:message name="GetServiceBrandByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceBrandByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllServiceCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllServiceCategories" />
  </wsdl:message>
  <wsdl:message name="GetAllServiceCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllServiceCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceCategoryByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceCategoryById" />
  </wsdl:message>
  <wsdl:message name="GetServiceCategoryByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceCategoryByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="BikeStoresWebServiceSoap">
    <wsdl:operation name="GetAllServiceProducts">
      <wsdl:input message="tns:GetAllServiceProductsSoapIn" />
      <wsdl:output message="tns:GetAllServiceProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input message="tns:GetByIdSoapIn" />
      <wsdl:output message="tns:GetByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllServiceBrands">
      <wsdl:input message="tns:GetAllServiceBrandsSoapIn" />
      <wsdl:output message="tns:GetAllServiceBrandsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceBrandById">
      <wsdl:input message="tns:GetServiceBrandByIdSoapIn" />
      <wsdl:output message="tns:GetServiceBrandByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllServiceCategories">
      <wsdl:input message="tns:GetAllServiceCategoriesSoapIn" />
      <wsdl:output message="tns:GetAllServiceCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceCategoryById">
      <wsdl:input message="tns:GetServiceCategoryByIdSoapIn" />
      <wsdl:output message="tns:GetServiceCategoryByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BikeStoresWebServiceSoap" type="tns:BikeStoresWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllServiceProducts">
      <soap:operation soapAction="http://tempuri.org/GetAllServiceProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllServiceBrands">
      <soap:operation soapAction="http://tempuri.org/GetAllServiceBrands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceBrandById">
      <soap:operation soapAction="http://tempuri.org/GetServiceBrandById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllServiceCategories">
      <soap:operation soapAction="http://tempuri.org/GetAllServiceCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceCategoryById">
      <soap:operation soapAction="http://tempuri.org/GetServiceCategoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BikeStoresWebServiceSoap12" type="tns:BikeStoresWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllServiceProducts">
      <soap12:operation soapAction="http://tempuri.org/GetAllServiceProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap12:operation soapAction="http://tempuri.org/GetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllServiceBrands">
      <soap12:operation soapAction="http://tempuri.org/GetAllServiceBrands" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceBrandById">
      <soap12:operation soapAction="http://tempuri.org/GetServiceBrandById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllServiceCategories">
      <soap12:operation soapAction="http://tempuri.org/GetAllServiceCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceCategoryById">
      <soap12:operation soapAction="http://tempuri.org/GetServiceCategoryById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BikeStoresWebService">
    <wsdl:port name="BikeStoresWebServiceSoap" binding="tns:BikeStoresWebServiceSoap">
      <soap:address location="https://localhost:44359/BikeStoresWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="BikeStoresWebServiceSoap12" binding="tns:BikeStoresWebServiceSoap12">
      <soap12:address location="https://localhost:44359/BikeStoresWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>